In [102]:
import os
if 'notebooks' in os.getcwd():
    os.chdir('..')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Visualizing data

In [103]:
quizz_df = pd.read_csv('data/quizz_07-11_21-11.csv')
user_df = pd.read_csv('data/user_07-11_21-11.csv')
video_df = pd.read_csv('data/video_07-11_21-11.csv')
video_analytics_df = pd.read_csv('data/video_analytics_07-11_21-11.csv')

In [104]:
video_analytics_df.head()

,id,user_id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause
0,18071,7651,2198,False,0,7819,5,2022-11-07 22:12:15.449098,7822,UserProfile,2
1,18072,37702,899,False,0,98186,74,2022-11-07 22:13:16.047639,98186,FYP,1
2,18073,37702,899,False,0,21139,96,2022-11-07 22:13:38.049122,21139,FYP,0
3,18339,125,2761,False,1,92920,110,2022-11-08 08:11:46.030612,92920,MyProfile,0
4,18340,36674,2137,False,0,3419,1,2022-11-08 08:11:52.843675,3577,FYP,0

In [105]:
user_df.head()

      id     username  niveau_id  points
0   1345         Sami        4.0   10751
1  36074  study.bryan        1.0    2289
2  38041       yooooa        1.0       0
3  38042     tom.lmbs        4.0       0
4  38045    Henri.srn        1.0    1378

In [106]:
video_df.head()

,id,duration,niveau_id,master_chapter_id,number_bulbs,duration-2,score_fyp
0,468,179.562,1,1,11,179.562,-0.394623
1,140,69.173,1,1,9,69.173,-0.623247
2,3177,159.220,1,5,1,159.220,-0.128298
3,189,48.034,1,4,4,48.034,-1.052262
4,143,165.605,1,1,0,165.605,-1.891019

In [107]:
quizz_df.head()

   user_id  quizz_id                    datetime
0    38110       151  2022-11-07 11:10:07.132989
1    37181       565  2022-11-07 11:50:31.291585
2    37181       566   2022-11-07 11:50:45.08376
3      150       258   2022-11-07 12:02:25.41876
4    11844       473  2022-11-07 12:16:11.288728

In [108]:
video_analytics_df.sort_values(by=['user_id','datetime'])

,id,user_id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause
10144,26944,3,657,False,0,112830,16,2022-11-16 13:13:51.392773,116978,MostPopular,0
11922,28722,3,755,False,0,9101,6,2022-11-18 15:45:45.229443,9604,SubChapter,1
1614,16986,18,2318,False,0,1550,2,2022-11-07 10:06:23.102423,1550,FYP,0
1989,17215,18,2356,False,0,18291,0,2022-11-07 13:45:42.292286,18017,FYP,0
2108,17334,18,2408,False,0,7942,7,2022-11-07 15:54:54.951457,7942,FYP,0
...,...,...,...,...,...,...,...,...,...,...,...
13769,30569,38382,446,False,1,37652,1,2022-11-20 22:41:37.948878,37652,FYP,0
13770,30570,38382,698,False,0,35835,35,2022-11-20 22:42:13.958501,35835,FYP,0
13771,30571,38382,1449,False,0,1729,1,2022-11-20 22:42:15.942485,1729,FYP,0
13772,30572,38382,2319,False,0,3624,2,2022-11-20 22:42:28.326986,3624,TopSection,0
13773,30573,38382,3329,False,1,82316,1,2022-11-20 22:44:25.863342,82316,UserProfile,0

In [109]:
video_analytics_df['datetime'] = pd.to_datetime(video_analytics_df['datetime'])
video_analytics_df['week'] = video_analytics_df['datetime'].dt.isocalendar().week
video_analytics_df.sort_values(by=['user_id','datetime']).head()

,id,user_id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause,week
10144,26944,3,657,False,0,112830,16,2022-11-16 13:13:51.392773,116978,MostPopular,0,46
11922,28722,3,755,False,0,9101,6,2022-11-18 15:45:45.229443,9604,SubChapter,1,46
1614,16986,18,2318,False,0,1550,2,2022-11-07 10:06:23.102423,1550,FYP,0,45
1989,17215,18,2356,False,0,18291,0,2022-11-07 13:45:42.292286,18017,FYP,0,45
2108,17334,18,2408,False,0,7942,7,2022-11-07 15:54:54.951457,7942,FYP,0,45

In [110]:
user_recurrence_df = video_analytics_df['week'].groupby(video_analytics_df['user_id'])\
    .unique()\
    .str.len()\
    .replace({1: False, 2:True})\
    .reset_index(name='recurring_user')
user_recurrence_df.head()

   user_id  recurring_user
0        3           False
1       18            True
2      106           False
3      107           False
4      108            True