In [230]:
import os
if 'notebooks' in os.getcwd():
    os.chdir('..')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

## Visualizing data

In [231]:
quizz_df = pd.read_csv('data/quizz_07-11_21-11.csv')
user_df = pd.read_csv('data/user_07-11_21-11.csv')
video_df = pd.read_csv('data/video_07-11_21-11.csv')
video_analytics_df = pd.read_csv('data/video_analytics_07-11_21-11.csv')

In [232]:
video_analytics_df.head()

,id,user_id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause
0,18071,7651,2198,False,0,7819,5,2022-11-07 22:12:15.449098,7822,UserProfile,2
1,18072,37702,899,False,0,98186,74,2022-11-07 22:13:16.047639,98186,FYP,1
2,18073,37702,899,False,0,21139,96,2022-11-07 22:13:38.049122,21139,FYP,0
3,18339,125,2761,False,1,92920,110,2022-11-08 08:11:46.030612,92920,MyProfile,0
4,18340,36674,2137,False,0,3419,1,2022-11-08 08:11:52.843675,3577,FYP,0

In [233]:
user_df.head()

      id     username  niveau_id  points
0   1345         Sami        4.0   10751
1  36074  study.bryan        1.0    2289
2  38041       yooooa        1.0       0
3  38042     tom.lmbs        4.0       0
4  38045    Henri.srn        1.0    1378

In [234]:
video_df.head()

,id,duration,niveau_id,master_chapter_id,number_bulbs,duration-2,score_fyp
0,468,179.562,1,1,11,179.562,-0.394623
1,140,69.173,1,1,9,69.173,-0.623247
2,3177,159.220,1,5,1,159.220,-0.128298
3,189,48.034,1,4,4,48.034,-1.052262
4,143,165.605,1,1,0,165.605,-1.891019

In [235]:
quizz_df.head()

   user_id  quizz_id                    datetime
0    38110       151  2022-11-07 11:10:07.132989
1    37181       565  2022-11-07 11:50:31.291585
2    37181       566   2022-11-07 11:50:45.08376
3      150       258   2022-11-07 12:02:25.41876
4    11844       473  2022-11-07 12:16:11.288728

In [236]:
video_analytics_df.sort_values(by=['user_id','datetime'])

,id,user_id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause
10144,26944,3,657,False,0,112830,16,2022-11-16 13:13:51.392773,116978,MostPopular,0
11922,28722,3,755,False,0,9101,6,2022-11-18 15:45:45.229443,9604,SubChapter,1
1614,16986,18,2318,False,0,1550,2,2022-11-07 10:06:23.102423,1550,FYP,0
1989,17215,18,2356,False,0,18291,0,2022-11-07 13:45:42.292286,18017,FYP,0
2108,17334,18,2408,False,0,7942,7,2022-11-07 15:54:54.951457,7942,FYP,0
...,...,...,...,...,...,...,...,...,...,...,...
13769,30569,38382,446,False,1,37652,1,2022-11-20 22:41:37.948878,37652,FYP,0
13770,30570,38382,698,False,0,35835,35,2022-11-20 22:42:13.958501,35835,FYP,0
13771,30571,38382,1449,False,0,1729,1,2022-11-20 22:42:15.942485,1729,FYP,0
13772,30572,38382,2319,False,0,3624,2,2022-11-20 22:42:28.326986,3624,TopSection,0
13773,30573,38382,3329,False,1,82316,1,2022-11-20 22:44:25.863342,82316,UserProfile,0

In [237]:
video_analytics_df['datetime'] = pd.to_datetime(video_analytics_df['datetime'])
video_analytics_df['week'] = video_analytics_df['datetime'].dt.isocalendar().week
video_analytics_df.sort_values(by=['user_id','datetime']).head()

,id,user_id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause,week
10144,26944,3,657,False,0,112830,16,2022-11-16 13:13:51.392773,116978,MostPopular,0,46
11922,28722,3,755,False,0,9101,6,2022-11-18 15:45:45.229443,9604,SubChapter,1,46
1614,16986,18,2318,False,0,1550,2,2022-11-07 10:06:23.102423,1550,FYP,0,45
1989,17215,18,2356,False,0,18291,0,2022-11-07 13:45:42.292286,18017,FYP,0,45
2108,17334,18,2408,False,0,7942,7,2022-11-07 15:54:54.951457,7942,FYP,0,45

In [238]:
# relating user_id and weeks
user_weeks_df = video_analytics_df['week'].groupby(video_analytics_df['user_id'])\
    .unique()
user_weeks_df.head()

user_id
3          [46]
18     [45, 46]
106        [46]
107        [45]
108    [45, 46]
Name: week, dtype: object

In [239]:
# considering only users from week 45
# checking if the user has accessed the app on week 46
user_recurrence_df = user_weeks_df.loc[[(45 in x) for x in user_weeks_df]]\
    .str.len()\
    .replace({1: False, 2: True})\
    .reset_index(name='recurring_user')
user_recurrence_df.head()

   user_id  recurring_user
0       18            True
1      107           False
2      108            True
3      113            True
4      114            True

In [240]:
user_recurrence_df.merge(video_analytics_df, on=['user_id'])

,user_id,recurring_user,id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause,week
0,18,True,19719,837,False,0,2244,1,2022-11-09 13:19:32.840044,2244,UserProfile,0,45
1,18,True,19720,838,False,0,1606,0,2022-11-09 13:19:34.548520,1606,UserProfile,0,45
2,18,True,19721,2162,False,0,7303,5,2022-11-09 13:19:42.011712,7303,UserProfile,0,45
3,18,True,19722,791,False,0,3113,2,2022-11-09 13:19:59.629598,3113,UserProfile,0,45
4,18,True,19723,835,False,0,4326,3,2022-11-09 13:21:38.669325,4329,UserProfile,1,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10921,38247,False,24934,1999,False,0,11263,10,2022-11-13 18:29:28.225762,11263,FYP,1,45
10922,38248,False,25101,1999,False,1,18932,1,2022-11-13 22:25:53.353984,18932,FYP,0,45
10923,38248,False,25102,1370,False,0,8558,7,2022-11-13 22:26:29.773612,8558,SubChapter,1,45
10924,38248,False,25103,1999,False,0,7063,7,2022-11-13 22:26:39.953806,7063,FYP,1,45
10925,38249,False,25140,828,False,0,2940,2,2022-11-13 23:48:36.877180,2940,FYP,0,45

In [241]:
# calculating the retention rate

In [242]:
# target dataframe
target_df = user_recurrence_df.merge(video_analytics_df, on=['user_id'])
target_df.head(20)

,user_id,recurring_user,id,video_id,has_been_on_quizz,number_of_loops,watch_time,position_when_leave,datetime,time_spent,origin,nb_pause,week
0,18,True,19719,837,False,0,2244,1,2022-11-09 13:19:32.840044,2244,UserProfile,0,45
1,18,True,19720,838,False,0,1606,0,2022-11-09 13:19:34.548520,1606,UserProfile,0,45
2,18,True,19721,2162,False,0,7303,5,2022-11-09 13:19:42.011712,7303,UserProfile,0,45
3,18,True,19722,791,False,0,3113,2,2022-11-09 13:19:59.629598,3113,UserProfile,0,45
4,18,True,19723,835,False,0,4326,3,2022-11-09 13:21:38.669325,4329,UserProfile,1,45
5,18,True,19726,787,False,0,3322,3,2022-11-09 13:24:04.455672,3322,UserProfile,0,45
6,18,True,19338,2398,False,0,5091,4,2022-11-08 22:30:12.372825,5091,UserProfile,0,45
7,18,True,19736,830,False,0,66830,1,2022-11-09 13:34:03.700981,66832,UserProfile,1,45
8,18,True,19739,827,False,0,2337,2,2022-11-09 13:35:04.560933,2337,UserProfile,0,45
9,18,True,19741,807,False,0,1518,1,2022-11-09 13:37:49.163562,1518,UserProfile,0,45
10,18,True,19742,829,False,0,2955,2,2022-11-09 13:37:56.801609,2955,UserProfile,1,45
11,18,True,18219,2446,False,0,9488,12,2022-11-07 23:15:27.408292,9488,FYP,0,45
12,18,True,18220,2447,False,0,2726,2,2022-11-07 23:15:30.230591,2726,FYP,0,45
13,18,True,18221,2357,False,0,2360,2,2022-11-07 23:15:32.707991,2360,FYP,0,45
14,18,True,18222,2275,False,0,18517,31,2022-11-07 23:15:51.386527,18517,FYP,0,45
15,18,True,19582,2105,False,0,7577,16,2022-11-09 10:46:35.492038,7577,UserProfile,1,45
16,18,True,18489,2480,False,0,4965,3,2022-11-08 10:43:01.578093,4965,FYP,0,45
17,18,True,18490,2420,False,0,1841,1,2022-11-08 10:43:04.556095,1841,FYP,0,45
18,18,True,18491,2243,False,0,33457,5,2022-11-08 10:43:40.656357,33457,FYP,1,45
19,18,True,18492,2529,False,0,2207,2,2022-11-08 10:43:45.079388,2207,FYP,0,45

In [248]:
# converting to numerical dataframe
target_df['recurring_user_num'] = target_df['recurring_user'].astype(int)
target_df['has_been_on_quizz_num'] = target_df['has_been_on_quizz'].astype(int)
target_df['origin_num'] = target_df['origin'].replace({'UserProfile': 0, 'FYP': 1})

In [249]:
#target_df.head(25)

In [250]:
target_num_df = target_df\
    [['id','user_id','recurring_user_num','video_id','has_been_on_quizz_num','number_of_loops','watch_time','position_when_leave','time_spent','origin_num','nb_pause']]

In [251]:
target_num_df.head()

,id,user_id,recurring_user_num,video_id,has_been_on_quizz_num,number_of_loops,watch_time,position_when_leave,time_spent,origin_num,nb_pause
0,19719,18,1,837,0,0,2244,1,2244,0,0
1,19720,18,1,838,0,0,1606,0,1606,0,0
2,19721,18,1,2162,0,0,7303,5,7303,0,0
3,19722,18,1,791,0,0,3113,2,3113,0,0
4,19723,18,1,835,0,0,4326,3,4329,0,1

In [254]:
target_correlation = abs(target_num_df.corrwith(target_num_df['recurring_user_num']))\
    .sort_values()
target_correlation

watch_time               0.006046
time_spent               0.006883
number_of_loops          0.025709
nb_pause                 0.067496
has_been_on_quizz_num    0.067836
position_when_leave      0.088892
video_id                 0.097842
id                       0.279698
user_id                  0.300551
recurring_user_num       1.000000
dtype: float64